# 即梦 API 配置
JIMENG_API_KEY=ark-83c3387c-3a20-463b-a888-2aad7be0b97a-31c09
ARK_BASE=https://ark.cn-beijing.volces.com/api/v3
DEFAULT_MODEL=doubao-seedream-5-0-260128

# Figma API 配置
FIGMA_API_TOKEN=figd_wxgzK5DKkvwd8RjL1jEqXPflDkuCr_UUBq5YNxCR
